body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#circle {
  width: 200px;
  height: 200px;
  background: wheat;
  border: 2px solid black;
  border-radius: 100px;
}

div.color-btns {
  padding: 10px 10px;
}

button {
  cursor: pointer;
}
